h1	{
	color:#bf00ff;
	margin-left: 15px;
}

h2	{
	color:#a65959;
	margin-left: 15px;
}

#nav	{
	border:5px	dashed	#990000;
	margin:10px	5px	15px 20px;
	padding:10px 10px 10px 10px;
}

#nav a {
	text-decoration: none;
	color:#0000b3;
}

.recommended {
	font-family: Courier New;
	
}